/* NavBar.css

/* Custom navbar background color */
.navbar-custom {
    background-color: #d9edf7; /* Light blue background */
  }
  
  .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #007bff; /* Blue underline for active tab */
  }
  
  .nav-link {
    margin-right: 20px; /* Add some space between the tabs */
  }
  
  .tab-content {
    margin-top: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
  }
   